.btn-close {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: none;

  @media (max-width: 480px) {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
}
